
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

button,
input {

  font-size: 20px;
  color: black;
  padding: 12px 10px;
  text-align: left;
  text-decoration: none;
  margin: 4px 10px;
  cursor: pointer;
  border: 2px solid #333;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  

}
ul {
  list-style-type: none;
}

